---
// TypeScript frontmatter works here
import headshot from '../assets/strelsov-headshot.png';
const greeting = "Hello World";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{greeting}</title>
  </head>
  <body>
    <h1>{greeting}</h1>
  <img src={headshot.src} alt="Strelsov headshot" />
  </body>
</html>